<h1> <%= @cat.name %> </h1>
<table class='table' align-content='center' style='width: 50%;'>
  <th class='col-md-2 text-center'>Birth Date</th>
  <th class='col-md-1 text-center'>Color</th>
  <th class='col-md-1 text-center'>Sex</th>
  <th class='col-md-2 text-center'>Owner</th>
  <th class='col-md-3 text-center'>Description</th>
  <tr style='border-style: solid;'>
    <td class='text-center' style='border-style: solid; border-width: thin;'> <%= @cat.birth_date %> </td>
    <td class='text-center' style='border-style: solid; border-width: thin;'> <%= @cat.color %> </td>
    <td class='text-center' style='border-style: solid; border-width: thin;'> <%= @cat.sex %> </td>
    <td class='text-center' style='border-style: solid; border-width: thin;'> <%= @cat.owner.user_name %> </td>
    <td class='text-center' style='border-style: solid; border-width: thin;'> <%= @cat.description %> </td>
  </tr>
</table>
<%= link_to 'Rent me!', new_cat_rental_request_url({id: @cat.id}), class: "btn btn-primary", role: "button" %>
<br>
<h2>Requests</h2>
<div class='container-fluid'>
<table class='table' align-content='center' style='width: 50%;'>
  <thead>
    <th>Start Date</th><th>End Date</th><th>Requestor</th><th>Status</th>
  </thead>
  <tbody>
    <% @cat.requests.order(:start_date).order(:end_date).each do |request| %>
      <tr>
        <td style='width: 20%;'> <%= request.start_date %> </td>
        <td style='width: 20%;'> <%= request.end_date %> </td>
        <td style='width: 20%;'> <%= request.requestor.user_name %> </td>
        <td style='width: 20%;'> <%= request.status %> </td>
        <td style='width: 10%;'>
          <%= button_to 'Approve', approve_rental_url(request.id), method: :patch, class: 'btn btn-xs btn-primary' if request.pending? && current_user == @cat.owner %>
        </td>
        <td style='width: 10%;'>
          <%= button_to 'Deny', deny_rental_url(request.id), method: :patch, class: 'btn btn-xs btn-danger' if request.pending? && current_user == @cat.owner %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class='container-fluid'><%= link_to 'Cats index', cats_url, class: 'btn btn-primary', role: "button" %></div>
