<h1> <%= @cat.name %> </h1>
<table>
  <th>birth date</th><th>color</th><th>sex</th><th>description</th>
  <tr>
    <td> <%= @cat.birth_date %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.description %> </td>
  </tr>
</table>
<br>
<h2>Requests</h2>
<table>
  <th>Start Date</th><th>End Date</th><th>Status</th>
  <% @cat.requests.order(:start_date).each do |request| %>
    <tr>
      <td> <%= request.start_date %> </td>
      <td> <%= request.end_date %> </td>
      <td> <%= request.status %> </td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Cats index', cats_url %>
