<h1> <%= @cat.name %> </h1>
<table>
  <th>birth date</th><th>color</th><th>sex</th><th>description</th>
  <tr>
    <td> <%= @cat.birth_date %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.description %> </td>
  </tr>
</table>
<br>
<h2>Requests</h2>
<div class='container-fluid'>
<table>
  <thead>
    <th>Start Date</th><th>End Date</th><th>Status</th>
  </thead>
  <tbody>
    <% @cat.requests.order(:start_date).each do |request| %>
      <tr>
        <td> <%= request.start_date %> </td>
        <td> <%= request.end_date %> </td>
        <td> <%= request.status %> </td>
        <% if request.pending? %>
          <td> <%= button_to 'Approve', approve_rental_url(request.id), method: :patch, class: 'btn btn-xs btn-primary' %></td>
          <td> <%= button_to 'Deny', deny_rental_url(request.id), method: :patch, class: 'btn btn-xs btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class='container-fluid'><%= button_to 'Cats index', cats_url, method: :get, class: 'btn btn-primary' %></div>
